In [ ]:
#Ejercicio utilizando diccionarios

cliente="Allan Perez"
producto="Laptop"
cantidad=int(input("Ingrese la cantidad de producto: "))
precio=1500.00
subtotal=cantidad * precio
descuento=0.10*subtotal  # 10% de descuento
impuesto=0.15*subtotal  # 15% de impuesto
total=subtotal - descuento + impuesto

producto = {"Cliente":cliente,
             "Producto": producto,
             "Cantidad": cantidad,
             "Precio": precio,
             "Subtotal": subtotal,
             "Descuento": descuento,
             "Impuesto": impuesto,
             "Total": total
             }
print("Factura")
for clave, valor in producto.items():
    print(f"{clave}: {valor}")

Factura
Cliente: Allan Perez
Producto: Laptop
Cantidad: 5
Precio: 1500.0
Subtotal: 7500.0
Descuento: 750.0
Impuesto: 1125.0
Total: 7875.0

In [12]:
import pandas as pd
df = pd.DataFrame([producto])
df

,Cliente,Producto,Cantidad,Precio,Subtotal,Descuento,Impuesto,Total
0,Allan Perez,Laptop,5,1500.0,7500.0,750.0,1125.0,7875.0

In [13]:
import pandas as pd
print(pd.__version__)

2.2.2