In [7]:
import pandas as pd
df = pd.read_csv(r"C:\_NotebookAvanzada2\Pandas\Precipitaciones.csv")
serie=df["region"]
serie

0                   A CORUNA
1                   ALBACETE
2                   ALICANTE
3                    ALMERIA
4                      ARABA
5                   ASTURIAS
6                      AVILA
7                    BADAJOZ
8              ILLES BALEARS
9                  BARCELONA
10                   BIZKAIA
11                    BURGOS
12                   CACERES
13                     CADIZ
14                 CANTABRIA
15                 CASTELLON
16                     CEUTA
17               CIUDAD REAL
18                   CORDOBA
19                    CUENCA
20                  GIPUZKOA
21                    GIRONA
22                   GRANADA
23               GUADALAJARA
24                    HUELVA
25                    HUESCA
26                      JAEN
27                  LA RIOJA
28                LAS PALMAS
29                      LEON
30                    LLEIDA
31                      LUGO
32                    MADRID
33                    MALAGA
34                   MELILLA
35                    MURCIA
36                   NAVARRA
37                   OURENSE
38                  PALENCIA
39                PONTEVEDRA
40                 SALAMANCA
41    SANTA CRUZ DE TENERIFE
42                   SEGOVIA
43                   SEVILLA
44                     SORIA
45                 TARRAGONA
46                    TERUEL
47                    TOLEDO
48                  VALENCIA
49                VALLADOLID
50                    ZAMORA
51                  ZARAGOZA
Name: region, dtype: object

In [8]:
serie2=df["enero"]# serie es un arreglo unidimensional 
serie2

0     240.5
1      68.1
2      49.2
3      56.3
4      96.8
5     196.9
6      67.6
7      62.2
8      81.2
9      26.8
10    175.7
11     75.8
12     70.5
13    148.5
14    180.7
15     56.6
16    261.9
17     84.0
18     88.6
19     93.6
20    173.0
21     34.9
22     72.2
23     88.4
24     50.7
25     84.3
26    100.6
27     72.8
28     44.1
29     92.0
30     59.3
31    179.5
32     69.3
33    139.5
34     44.9
35     44.5
36     98.8
37    138.9
38     52.3
39    255.4
40     52.9
41     90.6
42     63.3
43     91.1
44     75.1
45     52.7
46     54.1
47     83.0
48     61.9
49     29.2
50     53.0
51     52.0
Name: enero, dtype: float64

In [10]:
serie3=df["marzo"]
serie3

0      31.0
1      26.2
2      63.2
3      35.8
4      38.0
5      34.4
6       5.6
7       7.7
8      53.9
9      16.4
10     52.3
11     17.2
12      4.3
13     65.0
14     56.0
15     30.6
16    209.8
17     10.3
18      9.6
19     14.8
20     62.0
21     16.0
22     17.2
23     15.5
24     35.4
25      5.6
26     10.0
27     17.6
28      6.1
29     19.4
30     12.6
31     26.6
32      6.1
33     35.5
34     45.1
35     52.6
36     23.8
37     10.9
38      7.5
39     22.3
40      4.1
41     20.8
42      3.3
43     24.5
44     12.1
45      9.7
46     11.9
47      7.5
48     49.3
49      4.1
50      6.8
51      3.6
Name: marzo, dtype: float64